/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color: aliceblue;
}

ul {
  list-style-type: none;
}

#header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 0 10px 0 rgba(204, 204, 204, .5);
}

.header__container {
  max-width: 1140px;
  height: 99px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  /* background-color: #a0a0a0; */
}

.header__container div {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.header__logo {
  float: left;
  width: 150px;
  /* background-color: #a8a8a8; */
}

.header__logo :first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo img {
  width: 100%;
}

.header__items {
  float: right;
  min-width: 120px;
}

.header__items a {
  color: rgb(67, 50, 70);
}

.header__items a:hover {
  color: rgb(192, 17, 17);
}

.header__items__lang {
  /* background-color: aqua; */
}

.header__items__lang ul {
  float: right;
}

.header__items__lang ul li {
  display: inline-block;
}

.header__items__lang ul li a {
  text-decoration: none;
  line-height: 99px;
  font-size: 14px;
}

.header__items__lang--selected {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(192, 17, 17);
  color: rgb(192, 17, 17) !important;
  padding: 1px 13px;
}

.header__items__nav div {
  /* background-color: aliceblue; */
  display: flex;
  justify-content: start;
  align-items: center;
}

.header__items__nav ul li {
  display: inline-block;
  padding: 0 18px;
}

.header__items__nav ul li a {
  text-decoration: none;
  padding: 12px 0px;
  /* line-height: 62px; */
  font-size: 14px;
}

.header__items__nav--selected {
  color: rgb(192, 17, 17) !important;
  border-top: 4px;
  border-top-style: solid;
}

#video {
  width: 100%;
  aspect-ratio: 16/7;
}

#video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#content {
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  /* background-color: antiquewhite; */
}

.heading h2 {
  font-size: 40px;
  line-height: 1.5;
  margin-top: 20px;
  margin-bottom: 10px;
}

.heading--business {
  padding-bottom: 25px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.container {
  max-width: 1140px;
  margin-bottom: 120px;
}

.container::before {

}

.intro-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  border: 6px solid #f9f9f9;
  border-radius: 16px;
  background-color: #fff;
}

.intro-container::before {
  content: '';
  border: 6px solid #f9f9f9;
  border-radius: 16px;
  position: absolute;
  width: 110px;
  height: calc(100% - 80px);
  left: 0;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: -1;
}

.intro-container > div {
  width: 50%;
}

.intro-container__content {
  line-height: 1.8;
  padding-left: 70px;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #2b3441;
  font-size: 16px;
}

.intro-container__image {
  position: relative;
}

.intro-container__image img {
  position: absolute;  
  left: 10px;
  top: -250px;
}

.service-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 128px;
  margin-bottom: 40px;
  height: 437.969px
}

.service-container > div {
  width: 50%;
}

.service-container-left {
  width: 50%;
  padding-right: 20px;
}

.service-container-right {
  width: 50%;
  padding-left: 20px;
}

.service-card {
  width: 100%;
  height: 100%;
  border: 6px solid;
  border-radius: 16px;
  padding: 48px;
}

.service-card__ce {
  margin-right: 20px;
  background-color: rgb(192, 17, 17);
  border-color: rgb(192, 17, 17);
}

.service-card__tp {
  margin-left: 20px;
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
}

.service-card__subtitle {
  font-weight: 300;
  font-size: 14px;
  font-style: normal;
  margin-bottom: 30px;
}

.service-card__subtitle--ce {
  color: #fff
}

.service-card__subtitle--tp {
  color: rgb(77, 89, 105);
}

.service-card__title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 24px;
  line-height: 1.3;
}

.service-card__title--ce {
  color: #fff
}

.service-card__title--tp {
  color: rgb(43, 52, 65);
}

.service-card__description {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 40px;
}

.service-card__description--ce {
  color: #fff
}

.service-card__description--tp {
  color: rgb(77, 89, 105);
}

.service-card__btn {
  height: 80px;
  line-height: 80px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 8px;
  box-shadow: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-card__btn--left {
  background-color: #fff;
  color: #c01111;
}

.service-card__btn--left:hover {
  background-color: #2b3441;
  color: #fff;
}

.service-card__btn--right {
  background-color: #2b3441;
  color: #fff;
}

.service-card__btn--right:hover {
  background-color: #c01111;
  color: #fff;
}

.project-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-container__left > h2 {
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  line-height: 80px;
  margin: 50px 0;
}

.project-counter{
  display: flex;
  margin: 50px 0;
}

.project-counter__number{
  /* line-height: 2rem; */
  color: #c01111;
  font-size: 112px;
  font-weight: 700;
  /* line-height: 1.2; */
}

.project-counter__char {
  /* display: flex; */
}

.project-counter__char__plus {
  color: #c01111;
  font-size: 48px;
  font-weight: 700;
  padding-left: 30px;
  line-height: 1.5;
}

.project-counter__char__desc {
  font-size: 24px;
  position: relative;
  padding-left: 30px;
  line-height: 2;
}

.project__slide-container {
  margin-top: 90px;
  width: 322px;
  height: 469px;
  background-color: antiquewhite;
  position: relative;
  background-image: url("https://sun-asterisk.vn/wp-content/uploads/2021/03/zenkigen_01.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: blur(8px); */
}

.project__slide {
  position: absolute;
  bottom: 0;
  padding: 24px;
}

.project__slide__company {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}

.project__slide__name {
  margin: 10px 0 15px 0;
}

.project__slide__name > a {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  color: rgb(43, 52, 65);
}

.project__slide__name > a:hover {
  color: rgb(192, 17, 17);
}

.project__slide__desc {
  margin-bottom: 20px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.project__slide__details {
  color:rgb(192, 17, 17);
  text-decoration: none;
}

.project__controller-container {
  margin-top: 2rem;
  float: right;
}

.project__controller-container > a {
  margin: 0 1rem;
  padding: 1rem;
  font-size: 14px;
  border-radius: 100%;
  background-color: rgba(148, 155, 164, 0.1);
  color: #949ba4;
}

.project__controller-container > a:hover {
  background-color: rgb(192, 17, 17);
  cursor: pointer;
  color: #fff;
}

.career-container {
  position: relative;
  background-image: url("https://sun-asterisk.vn/wp-content/uploads/2020/11/career-bg.jpg");
  padding: 0 5%;
  border-radius: 16px;
  line-height: 1.8;
}

.career-container div {
  text-align: center;
  color: #fff;
}

.career-container::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(192,17,17,.9);
  z-index: 0;
  border-radius: 16px;
}

.career-container::after {
  content: '';
  position: absolute;
  background-color: #ef3f45;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  top: 75px;
  left: 75px;
  z-index: 0;
}

.career-intro__body {
  position: relative;
  z-index: 10;
}

.career-intro__subtitle {
  display: block;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  padding-top: 100px;
}

.career-intro__title {
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 84px;
  margin-bottom: 80px;
}

.career-intro__desc {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px;
  margin-bottom: 30px;
}

.career-intro__subdesc {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 43.2px; 
}

.career-intro__subdesc p {
  margin: 0 0 10px;
}

.career-intro__btn-wrap {
  margin-top: 50px;
  padding-bottom: 50px;
}

.career-intro__btn-wrap a {
  display: block;
  width: 406px;
  max-width: 100%;
  margin: 0 auto;
}

.button__icon {
  width: 24px;
  height: 24px;
  margin-left: 12px;
  border-radius: 50%;
  display: inline-block;
  background-color: rgba(192,17,17,.1);
  line-height: 22px;
  text-align: center;
  position: relative;
  top: 3px;
  color: #c01111;
}

.arrow-icon {
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 13.12px;
  height: 10px;
}

.career-intro__btn-wrap a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  -webkit-transform: scale3d(.7,1,1);
  transform: scale3d(.7,1,1);
  transition: opacity .4s,-webkit-transform .4s;
  transition: transform .4s,opacity .4s;
  transition: transform .4s,opacity .4s,-webkit-transform .4s;
  transition-timing-function: cubic-bezier(.2,1,.3,1);
}

.env-container {
  display: flex;
  flex-direction: row;
}

.env-intro {
  flex: 1;
}

.env-intro-title {
  margin-bottom: 20px;
}

.env-intro-title > h2 {
  color: rgb(43, 52, 65);
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 50px;
}

.env-intro__list {
  margin-top: 30px;
}

.env-intro__list li {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 2rem;
  margin: 35px 0;
}

.env-intro__list__title {
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
}

.env-banner {
  padding: 10px;
  flex: 1;
}

.env-banner-wrapper {
  position: relative;
  margin-top: 25px;
  width: 100%;
  height: 100%;
  background-image: url("https://sun-asterisk.vn/wp-content/uploads/2021/03/C38A0096aaMTLV_Cover-3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.env-banner__btn {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.env-banner__btn > a {
  position: relative;
  bottom: 48px;
  width: 406px;
  display: block;
  margin: 0 auto;
}

#footer {}